##
# Configuration for XHProf profiler.
#
# Only include this in server{} scope.
##

include includes/access-trusty.nginx;
include includes/listen.nginx;
include includes/php.nginx;

root /home/andor/slash/usr/share/$php_version_id/lib64/php/xhprof_html;
index index.php index.html index.htm;

location = /favicon.ico {
	log_not_found off;
	access_log off;
}

location / {
	# This is cool because no php is touched for static content
	try_files $uri @rewrite;
	access_log /home/andor/slash/var/log/nginx/$server_id-$project_name.access.log main;
}

location @rewrite {
	# Some modules enforce no slash (/) at the end of the URL
	# Else this rewrite block wouldn't be needed (GlobalRedirect)
	#rewrite ^/(.*)$ /index.php?q=$1;
	rewrite ^ /index.php last;
}
