
root	/home/andor/public_html/vhosts/$server_id/$vhosts_root;
index	index.php;

location / {
	access_log /home/andor/slash/var/log/nginx/$server_id-$project_name.access.log main;
}

# Protect all hidden files.
location ~ (^|/)\. {
	deny	all;
	return	403;
}

location ~ ^/(bin/|library/|templates/|config\.php$|license.txt$|makefile$|package\.sh$) {
	deny	all;
	return	403;
}

location /index.php {
	include includes/php-options.conf;
}
